/*---FLEXBOX---*/
.main-header,
.main-nav,
.container {
  display: flex;
}

.main-header {
  justify-content: space-between;
}

.mission {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
.mission-items {
  flex-wrap: wrap;
  align-self: center;
}
.container {
  flex-wrap: wrap;
  justify-content: center;
}


/*---MAIN-STYLE---*/
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/*---Header---*/
.main-nav {
  list-style: none;
  margin-right: 10px;
  z-index: 1;
}
.main-nav a {
  text-decoration: underline;
  color: seashell;
  padding: 10px;
}
.main-header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  background-color: black;
}
.logo {
  height: 50px;
  width: auto;
  margin-left: 10px;
}

/*---Mission Statment---*/
.mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  margin-top: 70px;
}
.mission-items {
  display: block;
  flex-wrap: wrap;
  align-self: center;
  background-color: black;
  min-width: 100%;
}
/*---Tea of the Month section---*/
.item img {
  height: 200px;
  width: 300px;
  margin: 10px;
  display: block;
}
