/*---FLEXBOX---*/
.main-header,
.main-nav {
  display: flex;
}

.main-header {
  justify-content: space-between;
}

/*---MAIN-STYLE---*/
html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
.main-nav {
  list-style: none;
  margin-right: 10px;
  background-color: black;
  z-index: 4;
}
.main-nav a {
  text-decoration: underline;
  color: seashell;
  padding: 10px;
  z-index: 4;
}
.main-header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
}
.logo {
  height: 50px;
  width: auto;
  margin-left: 10px;
}
.mission {
  width: 1200px;
  height: auto;
}
.mission img {
  margin-top: 69px;
  height: 700px;
  width: 1200px;
}
